{% extends 'base.html' %}

{% block content %}
<section class="content">
   <header>
      <h1>{% block title %}Submissions{% endblock %}</h1>
   </header>

   <div style="overflow: auto;">
   <table class="submissions">
      <tr><th> ID </th> <th> Field </th> <th> Length </th> <th> User </th> <th> Status </th> <th> Time </th> </tr>
   {% for submission in submissions %}
   <tr><td><a href="/submission/{{submission['id']}}">{{ submission['id'] }}</a></td>
      <td> {{ submission['fieldname'] }} </td>
      <td> {{ submission['length'] }} </td>
      <td><span class="user-{{submission['user_id'] % 6}} team-badge"></span> {{ submission['username'] }}</td>
      <td> <span class="submission-status submission-status-{{ submission['status'] }}"> {{ submission['status'] }}</span></td>
      <td> {{ submission['created'] }}</td>
   </tr>
   {% endfor %}
   </table>
   </div>
</section>
{% endblock %}
