{% extends 'base.html' %}

{% block content %}
<section class="content">
   <header>
      <h1>{% block title %}Submission #{{ currentid }} by {{ submission['username']}}{% endblock %}</h1>
   </header>

   <ul>
      <li>Field: {{ submission['fieldname'] }}</li>
      <li>Length: {{ submission['length'] }} Bytes</li>
      <li>User: {{ submission['username'] }}</li>
      <li>Status: {{ submission['status'] }}</li>
      <li>Created: {{ submission['created'] }}</li>
      <li>License: CC0-1.0</li>
   </ul>
   <h2>Result #1</h2>
   <h3>Source</h3>
   <div class="submissionlog">
   <textarea rows="10" readonly name="source">{{submission['source']}}</textarea>
<h3>Standard Input</h3>
   <textarea rows="10" readonly name="stdout">{{result['stdin']}}</textarea>
   <h3>Standard Output</h3>
   <textarea rows="10" readonly name="stdout">{{result['stdout']}}</textarea>
   <h3>Standard Error</h3>
   <textarea rows="10" readonly name="stderr">{{result['stderr']}}</textarea>
   </div>
</section>
{% endblock %}
