{% extends 'base.html' %}

{% block content %}
<section class="content">
   <header>
      <h1>{% block title %}Submission #{{ currentid }} by {{ submission['username']}}{% endblock %}</h1>
   </header>

   <ul>
      <li>Field: {{ submission['fieldname'] }}</li>
      <li>Length: {{ submission['length'] }} Bytes</li>
      <li>User: {{ submission['username'] }}</li>
      <li>Status: {{ submission['status'] }}</li>
      <li>Created: {{ submission['created'] }}</li>
   </ul>
   <p>Source License: CC0-1.0</p>
   <textarea rows="10" readonly name="source">{{submission['source']}}</textarea>
   <p>Standard Output</p>
   <textarea rows="10" readonly name="stdout">{{submission['stdout']}}</textarea>
   <p>Standard Error</p>
   <textarea rows="10" readonly name="stderr">{{submission['stderr']}}</textarea>
</section>
{% endblock %}
