{% extends 'base.html' %}

{% block content %}
<section class="content">
   <header>
      <h1>{% block title %}Submission #{{ currentid }} by {{ submission['username']}}{% endblock %}</h1>
   </header>

   <ul>
      <li>Field: {{ submission['fieldname'] }}</li>
      <li>Length: {{ submission['length'] }} Bytes</li>
      <li>User: {{ submission['username'] }}</li>
      <li>Status: {{ submission['status'] }}</li>
      <li>Created: {{ submission['created'] }}</li>
      <li>License: CC0-1.0</li>
   </ul>
   <p>Source
   <textarea rows="10" readonly name="source">{{submission['source']}}</textarea></p>
   <p>Standard Input
   <textarea rows="10" readonly name="stdout">{{result['stdin']}}</textarea></p>
   <p>Standard Output
   <textarea rows="10" readonly name="stdout">{{result['stdout']}}</textarea></p>
   <p>Standard Error
   <textarea rows="10" readonly name="stderr">{{result['stderr']}}</textarea></p>
</section>
{% endblock %}
