h1 { color: #377ba8; }
nav { background: lightgray; display: flex; align-item: center; }
//nav a { text-decoration: none; } /* to remove links */
nav h1 { flex: auto; margin: 0; }
nav ul { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li { display: block; padding: 0.5rem; }
form { display: flex; flex-direction: column; margin: 1em 0; }
form input { margin-bottom: 1em; }
form label { font-weight: bold; }
.dashboard { display: grid; grid-template-columns: repeat(3, 1fr);grid-auto-rows: 100px;column-gap: 10px;row-gap: 10px;border: 2px solid blue;border-radius: 5px;}
.dashboard > a {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}
.team-badge {
   /* 黒丸をつくる */
   display: inline-block; /* TODO 意味をしらべる */
   width: 0.8em;
   height: 0.8em;
   margin-left: 0.3em;
   margin-right: 0.3em;
   border-radius: 1em;
   vertical-align: middle: /* TODO super ってなに */
}
/* TODO ここは . をつけるらしい */
.team-badge.user-esolang {
   background-color:yellow;
}
.user- {
   /* TODO no user submission */
   background-color:gray;
}
.user-0 {
   background-color:green;
}
.user-1 {
   background-color:yellow;
}
.user-2 {
   background-color:red;
   color: white;
}
.user-3 {
   background-color:blue;
   color: white;
}
.user-4 {
   background-color:purple;
   color: white;
}
.user-5 {
   background-color:orange;
   color: white;
}
a {
  color: inherit;
}

@media screen and (max-width: 900px) {
   .nav-large {display: none;}
}
.submissionlog {
   display: flex;
   flex-direction: column;
}
.submissions  {
   width: 100%; /* 端から端まで表示 */
   border-collapse:collapse;
   /* border が2種類あるときは1つに統合, 指定しないと double border になる */
   overflow: auto;
}
.submissions th, .submissions td {
   text-align: center;
   padding:5px;
   border: 1px solid blue;
}
.submission-status {
   text-align: center;
}
.submission-status-AC {
   background-color:green;
   color: white;
}
.submission-status-WA {
   background-color:orange;
}
.submission-status-Waiting {
   background-color:gray;
}
