h1 { color: #377ba8; }
nav { background: lightgray; display: flex; align-item: center; }
//nav a { text-decoration: none; } /* to remove links */
nav h1 { flex: auto; margin: 0; }
nav ul { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li { display: block; padding: 0.5rem; }
form { display: flex; flex-direction: column; margin: 1em 0; }
form input { margin-bottom: 1em; }
form label { font-weight: bold; }
.dashboard { display: grid; grid-template-columns: repeat(3, 1fr);grid-auto-rows: 100px;column-gap: 10px;row-gap: 10px;border: 2px solid blue;border-radius: 5px;}
.dashboard > a {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}
.user-esolang {
   background-color:yellow;
}
a {
  color: inherit;
}

@media screen and (max-width: 900px) {
   .nav-large {display: none;}
}
.submissionlog {
   display: flex;
   flex-direction: column;
}
