<!doctype html>
<title>{% block title %}{% endblock %} - Esolang Golfer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
   <h1>Esolang Golfer - Stay Home With Esolang</h1>
   <ul>
      <li><a href="{{ url_for('dashboard.dashboard')}}">Dashboard</a></li>
      {% if g.user %}
      <li><a href="{{ url_for('submit.submit')}}">Submit</a></li>
      <li><a href="/submission/">Submissions</a></li>
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
   </ul>
</nav>

<section class="notifications">
   {% for message in get_flashed_messages() %}
   <div class="flash">{{ message }}</div>
   {% endfor %}
</section>

{% block content %}{% endblock %}
