{% extends 'base.html' %}

{% block content %}
<section class="content">
   <header>
      <h1>{% block title %}Submission #{{ currentid }} by {{ submission['username']}}{% endblock %}</h1>
   </header>

   <ul>
      <li>Field: {{ submission['fieldname'] }}</li>
      <li>Length: {{ submission['length'] }} Bytes</li>
      <li>User: <span class="user-{{submission['user_id'] % 6}} team-badge"></span> {{ submission['username'] }}</li>
      <li>Status: <span class="submission-status submission-status-{{ submission['status'] }}"> {{ submission['status'] }}</li>
      <li>Created: {{ submission['created'] }}</li>
      <li>License: CC0-1.0</li>
   </ul>
   {% if g.user["id"] == submission["user_id"] %}
   <h3>Source</h3>
   <div class="submissionlog">
   <textarea rows="10" readonly name="source">{{submission['source']}}</textarea>
   {% for result_cnt, result in results %}
   <h2>Result #{{result_cnt}} ({{result['lang']}})</h2>
<h3>Standard Input</h3>
   <textarea rows="3" readonly name="stdin">{{result['stdin']}}</textarea>
   <h3>Standard Output</h3>
   <textarea rows="3" readonly name="stdout">{{result['stdout']}}</textarea>
   <h3>Standard Error</h3>
   <textarea rows="3" readonly name="stderr">{{result['stderr']}}</textarea>
   {% endfor %}
   </div>
   {% endif %}
</section>
{% endblock %}
